{{ define "main" }}

<section>
    <div class="container-fluid">
        <div class="post">
            <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100" alt="{{ .Title }}">
            <div class="post-content">
                <h2 class="post-title">{{ .Title }}</h2>
            </div>
        </div>
    </div>
</section>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="mb-4">{{ .Title }}</h1>
                <div class="content">{{.Content}}</div>

                <div class="text-center mt-5">
                    <ul class="list-inline post-meta d-inline-block mr-4">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}